{{- $sections := ((where site.RegularPages "Section" "community").ByParam "id") -}}
<!DOCTYPE html>
<html class="scroll-padding">
    <head>
        {{- $CSS := resources.Get "scss/_header.scss" | toCSS | minify }}
        <link rel="stylesheet" href="{{ $CSS.RelPermalink | absLangURL }}" type="text/css">
        {{- $JS := resources.Get "js/header.js" | js.Build | minify }}
        <script type="text/javascript" src="{{ $JS.RelPermalink | absLangURL }}"></script>
   </head>
<body> 
    {{ "<!-- COPY -->" | safeHTML }}
        <div name="headerAndSocial">
            {{ partial "nav" . }}
            {{ partial "socialBanner" $sections }}
        </div>
    {{ "<!-- END COPY -->" | safeHTML }}
</body>
</html>
