{{- $sections := ((where site.RegularPages "Section" "community").ByParam "id") -}}
<!DOCTYPE html>
<html class="scroll-padding">
    <head>
        {{- $CSS := resources.Get "scss/_header.scss" | toCSS | minify }}
        <link rel="stylesheet" href="{{ $CSS.RelPermalink | absLangURL }}" type="text/css">
        {{- $JS := resources.Get "js/header.js" | js.Build | minify }}
        <script type="text/javascript" src="{{ $JS.RelPermalink | absLangURL }}"></script>
   </head>
<body> 
    {{ partial "nav" . }}

    {{ with .Site.Params.Community }}
        <div id="socialBanner">
            <div class="intro">See also:</div>
            <div class="social-container">
                {{- range $sections -}}
                {{ with .Params}}
                        <div class="social">
                            <div class="media tooltip">
                                <a href="{{ .link }}" class="noUnderline" target="_blank">
                                    <img src ="{{ .icon | relLangURL }}" alt = "{{ .alt }}">
                                </a>
                                <span class="tooltiptext">{{ .alt}}</span>
                            </div>
                            {{ with .tag}}
                                <div class="separator">

                                </div>
                                <div class="tag tooltip">
                                    <a href="{{.link}}" target="_blank">{{.title}}</a>
                                    <span class="tooltiptext">{{.alt}}</span>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    {{ end }}
    <div class="content">
        test
    </div>
</body>
</html>
