<!DOCTYPE html>
<html class="scroll-padding">
    <head>
        {{- $CSS := resources.Get "scss/_header.scss" | toCSS | minify }}
        <link rel="stylesheet" href="{{ $CSS.RelPermalink | absLangURL }}" type="text/css">
        {{- $JS := resources.Get "js/header.js" | js.Build | minify }}
        <script type="text/javascript" src="{{ $JS.RelPermalink | absLangURL }}"></script>
   </head>
<body> 
    {{ partial "nav" . }}

    {{ with .Site.Params.Community }}
        <div id="socialBanner">
            <div class="social-container">
                {{ range .list }}
                    <a href="{{ .link }}" class="noUnderline" target="_blank">
                        <div class="social">
                            <div class="column logo">
                                <img src ="{{ .img }}" alt = "{{ .imgAlt }}">
                            </div>
                            <div class="column desc">
                                <h2>{{ .title }}</h2>
                                <p class="text-muted">{{ .description }}</p>
                            </div>
                        </div>
                    </a>
                {{ end }}
            </div>
        </div>
    {{ end }}
    <div class="content">
        test
    </div>
</body>
</html>
