/public/*
.hugo_build.lock
/resources/
/themes/hugo-creative-theme-master/static/img/portfolio/1.jpg
/themes/hugo-creative-theme-master/static/img/portfolio/2.jpg
/themes/hugo-creative-theme-master/static/img/portfolio/3.jpg
/themes/hugo-creative-theme-master/static/img/portfolio/4.jpg
/themes/hugo-creative-theme-master/static/img/portfolio/5.jpg
/themes/hugo-creative-theme-master/static/img/portfolio/6.jpg
/vue/node_modules/*
