.prev-next-top
{
    top: 60px;
}

hr.thin{
    border: none;
    height: 1px;
    color: #ccc;
    background-color: #ccc;
    max-width: none;    
}

.prev-next-search
{
    background-color: #fff;
    padding: 0.50em 0em;
    z-index: 1;

    &.dark
    {
        background-color: $header-dark;
        color: #fff;
    }

    a
    {
        text-decoration: none;
        border-bottom: 1px solid #ccc;
        color: inherit;

        &:hover
        {
            color: $orange-link-hover;
        }
    }

    .prev-next
    {
        font-size: 0.85em;
        color: #666;

        padding-bottom: 1.3em;
        padding-top: 0.9em;

        font-family: $sans;

        .btn
        {
            color: #fff !important;
            font-size: 0.9em;
            border: none;
            border-radius: 5px;
        }
            
        .disabled
        {
            pointer-events: none;
            cursor: default;
            color: #fff;
            border-bottom: none;
            background-color: #ccc;
        }

    }

}

.scroll-padding
{
    scroll-padding-top: 140px;
}

.guestLabel
{
    background-color: #aaa;
    border-radius: 1em;
    border: none;
    padding: 0.3em 0.8em;
    color: #fff;
    font-size: 0.75rem;
    white-space: nowrap;
}

//Blog @ Home
section#Blog
{
    background-color: #f5f5f5;
    margin-top: 0em;
    margin-bottom: 0em;

    //Home
    h2.recent {
        font-family: $serif;
        font-weight: 700;
        font-size: 1.5em !important;
        line-height: 1.3em;
        margin-bottom: 1em;
    }

    .sidebar
    {
        top: inherit;
        min-height: 400px;

        .list {

            font-family: $sans;

        }
        
        li {
            font-size: 0.9em;
            color: #777;
            border: none;
            padding: 0.8em 0em;
            margin-bottom: 0px;
            border-bottom: 1px solid #ddd;

            a
            {
                display: block;
            }
        }

        li:hover
        {
            background-color: #ffffff !important;
        }


        h4
        {
            font-family: $serif;
            font-weight: 700;
            font-size: 1em;    
        }
    }

    .post{

        // font-family: $sans;
        font-size: 0.95em;
        line-height: 1.6em; 
        color: #444;

        .post-meta
        {
            color: #666;
            font-family: $serif;
            font-weight: 500;
            font-size: 0.9em;
        }

        h2
        {
            font-family: $serif;
            font-weight: 700;
            font-size: 1.2em !important;
            line-height: 1.3em;
            color: #333;
        }

        .footer
        {
            margin-top: 1em;
        }
    }
}

//Single Pages + Lists
#Blog
{

    .cactus-login-close
    {
        scale: inherit;
    }

    .signpill
    {
        // vertical-align: super;
        font-size: 0.7em;
        background-color: #e6e6e6;
        color: #666;
        border: none;
        padding: 2px 3px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-left: 0.25em;
        border-radius: 2px;
        line-height: 1.1em;
    }

    .post-thumb
    {
        // border: 5px solid #fff;
        // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        max-width: 90px;
        max-height: 90px;
    }

    .pagination{
        font-family: $sans;
        
        a{
            color: #000;

            &:hover
            {
                color: $orange;
                background-color: #fff;
            }
        }

        .current
        {
            font-weight: 700;
            pointer-events: none;
            cursor: auto;

            .page-link
            {
                background-color: #eee;
            }
        }

        .page-item.disabled a{
            color: #aaa;
        }
    }

    .list
    {
        font-size: 1rel;

        .post-meta
        {
            color: #777;
            font-size: 0.8em;
            font-family: $sans;
        }

        h1
        {
            font-size: 3em !important;
        }

        h2
        {
            font-size: 1.2em !important;
        }
    }

    min-width: 0;
    max-width: 100%;
    flex-grow: 1;
    overflow: initial;
    // margin-top: 3em;
    margin-bottom: 5em;

    a:not(:has(img))
    {
        text-decoration: none;
        border-bottom: 1px solid #ccc;
        color: inherit;

        &:hover
        {
            color: $orange-link-hover;
        }
    }

    .border-below
    {
        border-bottom: 1px solid #eee;
    }

    .post{

        .header
        {
            span {
                font-size: 0.8rem;
            }

            .date
            {
                color: #888;
            }
        } 

        h2
        {
            font-family: $serif;
            font-weight: 700;
            font-size: 2.3em;
            line-height: 1.3em;
            margin-bottom: 0.3em;
        }

        hr
        {
            border-color: #ddd;
            border-width: 1px;
            max-width: none;
        }

        .description
        {
            color: #777;
            font-family: $sans;
            margin-bottom: 0.5em;
        }

        .content{

            margin-top: 2.5em;
            font-family: $sans;
            $base-font: 1em;

            table {
                width: 100%;
                margin: 1.7em 0em;
                font-size: 0.8em;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;

                th
                {
                    padding: 0.5em 0.5em;
                    border-left: 1px solid #ddd;

                    &:first-child{
                        border-left: none;
                    }
                }

                td
                {
                    padding-bottom: 0.3em;
                    border-left: 1px solid #ddd;
                    padding: 0em 0.5em;

                    &:first-child
                    {
                        border-left: none;
                    }
                }

                tr:last-child
                {
                    td{
                        padding-bottom: 0.5em;
                    }
                }


            }

            .meta
            {
                background-color: #f6f6f6;
                border-radius: 5px;
                border: none;
                padding: 1em;

                table{
                    margin: 0em;
                    font-size: 1em;
                    border-top: none;
                    border-bottom: none;
                }

                table td
                {
                    padding-right: 1em;
                    padding-bottom: 0em;
                    border-left: none;
                }

                .download
                {
                    td
                    {
                        padding: 0.5em;
                    }
                }
            }

            h1{
                font-family: $serif;
                font-size: 1.8em;
                margin-top: 1.1em;
                margin-bottom: 1em;
            }

            h2{
                font-family: $serif;
                font-size: 1.6em;
                margin-top: 1.1em;
                margin-bottom: 1em;
            }

            h3{
                font-family: $serif;
                font-size: 1.4em;
                margin-top: 1.1em;
                margin-bottom: 1em;
            }

            h4{
                font-family: $serif;
                font-size: 1.2em;
                margin-top: 1.1em;
                margin-bottom: 1em;
            }

            h5{
                font-family: $serif;
                font-size: 1.1em;
                font-weight: bold;
                margin-top: 1.1em;
                margin-bottom: 1em;
            }

            ul{
                padding-left: 2em;
            }

            img{
                max-width: 100%;
                height: auto;
            }

            figcaption
            {
                font-weight: 400;
                font-size: 0.9em;
                color: #888;
                margin-top: 0.4em;
                margin-bottom: 2em;
            }

            .alert
            {
                &.alert-secondary
                {
                    background-color: #f3f3f3;
                    border: none;
                    padding: 2em;
                }
            }
        }

        .comments{

            .comment{
                .comment-avatar{
                    box-sizing: border-box;
                    display: flex;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    margin: 0;
                    background-color: #eee;
                    flex: 0 0 2.5rem
                }
                .comment-content{
                    .comment-header {
                        .comment-user{
                            font-weight: 700;
                        }
                        .comment-date{
                            color: rgb(153, 153, 153);
                        }
                        display: flex;
                        gap: 1em;
                        flex-wrap: wrap;
                    }
                    
                    .comment-body{
                        p{   
                            margin-bottom: 20px;
                            line-height: 1.5;
                        }
                    }
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                }
               
                display: flex;
                flex-direction: row;
                gap: 1em;
                padding: 0.5em 0 1em;
                border-block-end: 1px solid #ddd;
            }

            font-family: $sans;
            --cactus-text-color--soft: #999;
            --cactus-border-radius: 0px;
            --cactus-border-color: #ddd;
            --cactus-box-shadow-color: #aaa;
            --cactus-button-color: rgb(90, 98, 104);
            --cactus-button-color--strong: #000;


            button
            {
                color: #fff;
            }

            button:hover:enabled
            {
                background-color: $orange;
                color: #fff;
            }

            button{
                border-radius: 5px;
                font-size: 0.9em;
                text-transform: uppercase;
            }
        }
    }

    .sidebar
    {

        a
        {
            text-decoration: none;
            border: none;
    
            &:hover
            {
                color: $orange-link-hover;
            }

            &.btn
            {
                color: #fff;
            }
        }

        top: 165px;
        z-index: 0;
        min-height: 500px;

        .dropdown-menu {
            height: 200px;
            overflow: auto;
        }
        
        .filter
        {
            display: flex;
            flex-direction: row;
            gap: 1em;
            flex-wrap: wrap;
        }
        hr{
            border: none;
            height: 1px;
            color: #ccc;
            background-color: #ccc;
            max-width: none;    
        }

        li.list-group-item
        {
            background: none !important;
        }

        .list
        {

            font-family: $sans;
            
            h4
            {
                font-family: $serif;
                font-weight: 700;
                font-size: 1em;    
            }

            li {
                font-size: 0.9em;
                color: #777;
                border: none;
                padding: 0.8em 0em;
                margin-bottom: 0px;
                border-bottom: 1px solid #ddd;

                a
                {
                    display: block;
                }
            }

            li:hover
            {
                background-color: #ffffff !important;
            }

            // li:after {
            //     content:''; 
            //     display:block; 
            //     position:absolute;  /* position this at the bottom */
            //     bottom:0;
            //     left:0;            /* left and right determine length of line, the longer you want it, the closer to 0 these values should be */
            //     right:90%;
            //     height:1px;
            //     background:#ddd;    /* match the font color */
            // }

            .link{
                color: $orange;
            }
        }
    }
}