$label: #888;


#Community{
    .nav-link.active
    {
        background-color: #555;
    }
}

#ProfileEditor{

    min-height: 45em;

    .profileCard
    {
        min-height: 45em;
    }

    &.darkMode{
        color: #fff;
        background-color: #363636;

        .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .nav-link.active
        {
            background-color: #555;
        }

        a
        {
            &.nav-link
            {
                color: #bbb !important;

                &:hover
                {
                    background-color: #505050 !important;
                }
            }

            &.active
            {
                color: #fff !important;
                background-color: #666 !important;
            }

        }

        .shadow
        {
            box-shadow: 0px 0px 10px #303030 !important;
        }

        .card
        {
            &.personCard
            {
                background-color: #4a4a4a;

                &.active{
                    background-color: #555;
                }
            }

            background-color: #444;

            input, textarea {
                background-color: #333;
                color: #ddd;
            }

            .h4{
                color: #fff;
            }

            .btn-outline-secondary
            {
                color: #ccc;
                border-color: #666;
            }

            .label
            {
                color: #aaa;
            }
        }

        .field
        {
            .value
            {
                color: #ddd;
            }    
        }

    }
}

#app{


    .disabled
    {
        pointer-events: none;
        opacity: 0.5;
        // background: #CCC;
    }

    .sticky-top{
        top: 4em;
    }

    .navbar-color
    {
        background-color: #eee;
    }

    .listMenu
    {
        border-radius: 3px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.2);
        background-color: #eee;
        padding: .5em;
    }

    .h2{
        margin-bottom: 1em;
    }

    .company
    {
        .name
        {
            font-size: 0.9em;
            font-weight: 600;
        }

        .logo
        {
            width: 50px;
            height: 50px;
            max-width: 60px;
            max-height: 60px;
        }
    }

    .shadow
    {
        box-shadow: 0px 0px 6px #dfdfdf;
    }

    .card
    {
        border-radius: 5px;

        input, textarea {
            background-color: #eee;
            color: #222;
            border: none;
            border-radius: 2px;
        }
    }

    .emptypic
    {
        width: 120px;
        height: 120px;
        background-color: $label;
    }

    .label
    {
        font-size: 0.8em;
        color: $label;
        margin-bottom: 0.5em;
    }

    .field
    {
        .caps
        {
            text-transform: uppercase;
        }

        .value
        {
            color: #000;
        }

        margin-bottom: 1em;
    }

    hr {
        margin: 0;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        max-width: 100%;
      }
    
    .picSize
    {
        width: 50px;
    }

}