$orange: #ffa800;
$orange-link-hover: #ff8800;
$orange-hover: #ee4b28;
$header-dark: #282828;

$sans: "Open Sans", sans-serif;
$serif: "Roboto Slab", serif;

html{
  scroll-behavior: smooth;
}

.btn-xl
{
    padding: 10px 20px;
}

.btn
{
    border-radius: 6px;
}

.btn-default
{
    border: none;
}

.mediaShadow
{
  box-shadow: 0px 7px 25px 7px rgba(0, 0, 0, 0.4);
}