#PreviewDownloads 
{
    .modal-header
    {
    padding-left: 0;
    padding-right: 0;
    }

    h3
    {
        font-size: 1.1em;
        font-weight: 600;
        color: #fff;
        margin-bottom: 0;
    }

    hr {
        max-width: 100%;
        border-color: #999;
        border-width: 1px;
        margin-bottom: 1.5em;
    }
    
    a
    {
        border-width: 1px;
        text-decoration: none;
    }

    td
    {
        padding: 1em 0.5em 0 0;
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;

        font-size: 1em;

        &.date
        {
            font-size: 0.8em;
            color: #aaa;
            padding: 0;
        }
    }

    .changes
    {
        /* font-size: 0.8em; */
        border-bottom: 1px solid #bbb;
        color: #aaa;

        &:hover
        {
            border-bottom: 1px solid #fff;
        }
    }

    .previewButton
    {
        border-radius: 0.4em;
        border-bottom: 0;
        text-decoration: none;
        font-weight: normal;
        font-size: 1em;
        padding: 0.6em 0.6em;
    }

    .modal-dialog a
    {
        color: #000;
        text-decoration: underline;
        border: none;
    }

    ul
    {
        margin-bottom: 1.5em;
    }
}

#PreviousReleases
{
  color: #ccc;
  
  a
  {
    border-bottom: 1px solid #888;
    text-decoration: none;
  }
}

.tippy-tooltip {
    background-color: #444;
    min-width: 750px;
  }
  
.tippy-tooltip[data-placement^='right'] > .tippy-arrow{
    border-right-color: #444;
}
  