iframe {
    display: inline-block;
  }
  
  .video-wall,
  iframe[data-src] {
   
  }

.video-wall
{
  font-size: 0.8em;
  padding: 1em;
  color: #aaa;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid #444 !important;
  align-content: center;

    .video-link
    {
        color: #666;
        
        a {
            margin-right: 0em;
        }        
    }

    h1
    {
        font-size: 1.5em;
        font-weight: bold;
    }

    a
    {
    margin-right: 1em;
    }

    .buttons
    {
        display: block;
        color: #fff;
    }
}

#Blog .video-wall{
    color: #888;
    border: 1px solid #ccc !important;
    .video-link
    {
        color: #666;
    }

    .btn:hover{
        color: #fff;
    }
}