@import '../css/fonts-header';

//Hack for Forum's sidepanels.
// --header-bottom is calculated by js: it is the bottom of the #vvvv-navbar
.discourse-root .menu-panel.slide-in {
  top: var(--header-bottom, 0);
}

#vvvv-navbar
{
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  font-family: open sans,helvetica neue,Arial,sans-serif;
  color: #333;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  background-color: #282828;
  border-bottom: 1px #222 solid;
  transition: color .35s;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:has( ~ .ember-application) {
    position: relative;
  }

  .logo {
    background-color: transparent;
    text-decoration: none;
    transition: all .35s;
    border: none;
    margin-left: 3rem;
    color: #ffa800;
    border-bottom: none;
    height: 60px;
  }

  .vvvv-hamburger{
      display: none;
    }

    #vvvv-hamburgerButton {
      margin: 0;
      font-family: inherit;
      overflow: visible;
      text-transform: none;
      -webkit-appearance: button;
      padding: .25rem .75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border-radius: .25rem;
      margin-right: 1rem;
      margin-left: 1rem;
      cursor: pointer;
      border: none;
      color: #fff;
    }

    .vvvv-hamburger-stripes {
      div {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
      }
    }
   
    #vvvv-menu {
      margin-right: 2rem;
      
      ul {
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-right: .25rem;
        list-style: none;
        display: flex;
        list-style: none;
  
        li {
          margin-right: 0;
          margin-left: 0;
          margin: 0;
          line-height: 1em;
  
          a
          {
            list-style: none;
            line-height: 1em;
            box-sizing: border-box;
            background-color: transparent;
            text-decoration: none;
            transition: all .35s;
            border: none;
            display: block;
            padding: .5rem 1rem;
            border-bottom: none;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            padding-right: .5rem;
            padding-left: .5rem;
            color: #fff;
  
            &:hover
            {
              color: #ff9000!important;
            }
          }
       
          .selected
          {    
            color: #ffa800 !important;
            background-color: transparent;
          }
        }
  
        .download {
          padding-right: .5rem;
          padding-left: .5rem;
          margin: 0rem 0rem 0rem 1rem;
          border-radius: 6px;
          background-color: #000;
          color: #ffa800;
          line-height: 1em;
          width: fit-content;
          transition: all .35s;
  
          a {
            color: #fff;
            
            &:hover
            {
              color: #ffa800 !important;
            }
          }
        }
      }
    }

  @media screen and (max-width: 850px) {

      .logo {
        margin-left: 1rem;
      }

      .vvvv-hamburger{
        display: block;
      }

      #vvvv-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 1rem 0em 1rem 1rem;
        margin-right: 0;
        background-color: #282828;


        &.visible{
          display: flex !important;
        }

        ul {
         flex-direction: column;
        }

        .download {
          margin-top: 1rem !important;
          margin-left: 0rem !important;
        }
    }
  }
}

#socialBanner {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: open sans,helvetica neue,Arial,sans-serif;
  font-size: 0.8rem;
  justify-content: center;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
  }

  a {

    &:link, &:visited {
      text-decoration: none;
      color: #666;
    }

    &:hover{
      text-decoration: none;
      color: #000;
    }

  }

  .social-container {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0px 1rem;
    gap: 1rem;

    .social-intro{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .social-list{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 0.8rem;
      width: fit-content;

      .social {
        display: flex;
        border-radius: 4px;
        height: fit-content;
  
        .tooltip {
          position: relative;
          width: auto;
          white-space: nowrap;
        }
  
        .tooltip:hover .tooltiptext{
          visibility: visible;
          opacity: 1;
        }
  
        .tooltiptext {
          visibility: hidden;
          background-color: #eee;
          text-align: center;
          padding: 0.5rem 1rem;
          position: absolute;
          z-index: 10000;
          top: 2.8rem;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s;
          border-radius: 3px;
        }
    
        .media, .tag {
          height: 2.5rem;
          padding: 0rem 0.7rem;
          transition: background-color 0.2s ease;
          background-color: #eee;
          cursor: pointer;
          display: flex;
          align-items: center;
          border: 1px solid #ddd;
          &:hover{
            background-color: #ddd;
          }
        }

        .media
        {
          border-radius: 3px;
        }

        .media:has( + .separator){
          border-right: none;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        .tag{
          border-left: none;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
  
        .separator {
          width: 1px;
          background-color: #ddd;
        }
  
        .media{
          img {
            width: 24px;
          }
        }
      }
    }

    p {
      margin: 0;
      vertical-align: middle;
    }

  }

  @media screen and (max-width: 850px) {

    .social-container
    {
      .social-intro{
        display: none;
      }

      .social
      {
        border: none;
        border-radius: 6px;

        .tooltiptext{
          display: none;
        }
      }

      .social-list {
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap; /* Prevents content from wrapping */
        justify-content: flex-start;
        width: fit-content;
        height: 3.7rem;

      }
    }
  }
}