#hero-text
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 90%;
    padding: 1em 0em;
    font-family: $sans;
    text-align: left;

    @media(min-width:500px) {
        width: 450px;
        // font-size: 1.3em; //1.5em when not caps
    }
    
    p
    {
        font-size: 1.3em; //1.5em when not caps
        font-weight: 100;
        text-transform: uppercase;
    }

    .vvvv
    {
        padding: 0px;
        margin: 0 0 0.3em 0;
        font-weight: 400;
        font-size: 7rem;
        line-height: 0.7em;
    }

    b
    {
        font-weight: 700;
    }


}