#Legal{

    h1 {
        font-size: 1.7em;
    }

    h2{
        font-size: 1.5em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    h3{
        font-size: 1.2em;
    }

    a{
        text-decoration: underline;
    }
}