{{ define "main" }}
<main id="Blog">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <div class="post">
                        <div class="header">
                            <h2 class="display-1">{{ .Title }}</h2>
                            {{ with .Params.date }}
                            <span class="date mr-3">{{ time.Format "January 2, 2006" .}}</span>
                            {{ end }}

                            {{ with .Params.author }}
                                <span class="link mr-3">posted by: <a href="{{ printf "author/%s/" . | relURL }}" >{{ . }}</a></span>
                            {{ end }}

                            <!-- Find link to the current category -->
                            {{ $currentCat := .Params.categories}}
                            {{ $currentCatLink := ""}}
                            {{ range .Site.Taxonomies.categories }}
                                {{ if eq .Page.Title $currentCat }}
                                    {{ $currentCatLink = .Page.RelPermalink }}
                                {{ end }}
                            {{ end }}

                            <span class="link">category: <a href="{{ $currentCatLink }}">{{ .Params.categories }}</a></span>

                        </div>
                        <div class="content">
                            {{ .Content | markdownify }}
                        </div>
                        <div class="comments mt-5">
                            <hr class="mt-5"/>
                            <h2 class="display-1 mb-3">Comments:</h2>
                            {{ partial "blog/comments.html" . }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-2 mt-0-md">
                    <div class="sidebar sticky-top">
                        {{ partial "blog/sidebar.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{ end }}