<!DOCTYPE html>
<html class="scroll-padding">
    <head>
        {{ partial "head.html" . }}

        <!-- Cactus css -->
        {{ if .IsPage }}
            <script src="{{ "/js/cactus.js" | relURL }}"></script>
            <link rel="stylesheet" href="{{ "/css/cactus.css" | relURL }}" type="text/css">
        {{ end }}     
   </head>
<body>
    <div class="main">
        {{ partial "nav" . }}
        
        {{ block "main" . }}{{ end }}

        {{ partial "videoBlocker.html" . }}

        {{ partial "contact" . }}
        
        {{ partial "footer" . }}

        {{ partial "js.html" . }}
    </div>
</body>
</html>