{{ $guest := not (in .Site.Params.Blog.Devvvvs (lower .Params.author)) }}

<article class="post">
  <a href='{{ .Permalink }}'>
    <div class="row justify-content-between">
      <div class="col-3 mt-2 col-md-2">    
        {{ .Render "thumb"}}
      </div>
      <div class="col-9 pl-1 pl-md-4 col-md-10 no-gutters ">
        <div class="row">
          <div class="col-12 col-lg-9">
            <h2> {{ .Title }} </h2>
            <p class="description">{{ if $guest }} <span class="guestLabel">Guest Post</span> {{ end }}{{ .Params.description }}</p>
          </div>
          <div class="col-12 col-lg-3">
            <div class="post-meta text-lg-right">{{ .Date.Format "Jan 2, 2006" }}</div>
          </div>
       </div>
      </div>
    </div>
  </a>
    <hr class="thin"/>
</article>