:root {
--docsearch-primary-color: #505050;
--docsearch-logo-color: #505050;
--docsearch-container-background: rgba(33, 33, 33, 0.4);
--docsearch-modal-height: 500px;
--docsearch-searchbox-shadow: inset 0 0 0 2px #eee;
--docsearch-searchbox-background: #f5f5f5;
--docsearch-searchbox-focus-background: #f0f0f0;
--docsearch-muted-color: #777;
}

section#Blog .ds-search
{
    margin-bottom: 1em;
}

section#Blog .DocSearch-Button
{
    background-color: #e9e9e9;
}

section#Blog .DocSearch-Button:hover
{
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    box-shadow: inset 0 0 0 2px #e0e0e0;
}

.DocSearch-Container
{
    z-index: 1000;
}

.DocSearch-Hits
{
    font-size: 0.9em;
}

.DocSearch-SearchBar
{
    position: relative;
    background: none;
}

.DocSearch section
{
    padding: inherit;
}

.DocSearch header
{
    min-height: inherit;
}

.DocSearch-Modal
{
    margin: 70px auto auto;
    border-radius: 3px;
}

.DocSearch-Button
{
    margin-left: 0px;
    border-radius: 4px;
    height: 40px;
}

.DocSearch-Button-Placeholder {
    padding: 0 60px 0 6px;
}

.DocSearch-Logo svg {
    color: var(--docsearch-logo-color);
}

.DocSearch-Logo .cls-1, .DocSearch-Logo .cls-2 {
    color: var(--docsearch-logo-color);
}