/* roboto-serif-300 - latin */
@font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto/roboto-serif-v8-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto/roboto-serif-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-serif-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-serif-v8-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-serif-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-serif-v8-latin-300.svg#RobotoSerif') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-serif-regular - latin */
  @font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-serif-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto/roboto-serif-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-serif-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-serif-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-serif-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-serif-v8-latin-regular.svg#RobotoSerif') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-serif-500 - latin */
  @font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-serif-v8-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto/roboto-serif-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-serif-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-serif-v8-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-serif-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-serif-v8-latin-500.svg#RobotoSerif') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-slab-v24-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto/roboto-slab-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-slab-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-slab-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-slab-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-slab-v24-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-500 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-slab-v24-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto/roboto-slab-v24-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-slab-v24-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-slab-v24-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-slab-v24-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-slab-v24-latin-500.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-700 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-slab-v24-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto/roboto-slab-v24-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-slab-v24-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-slab-v24-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-slab-v24-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-slab-v24-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }

  
  /* OPEN SANS */
  
  /* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/opensans/open-sans-v34-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/opensans/open-sans-v34-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/opensans/open-sans-v34-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/opensans/open-sans-v34-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
 
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/opensans/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/opensans/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/opensans/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/opensans/open-sans-v34-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
 
  /* open-sans-800 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/opensans/open-sans-v34-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/opensans/open-sans-v34-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/opensans/open-sans-v34-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/opensans/open-sans-v34-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-300italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/opensans/open-sans-v34-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/opensans/open-sans-v34-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/opensans/open-sans-v34-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/opensans/open-sans-v34-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/opensans/open-sans-v34-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/opensans/open-sans-v34-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/opensans/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/opensans/open-sans-v34-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-600italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/opensans/open-sans-v34-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/opensans/open-sans-v34-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/opensans/open-sans-v34-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-600italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/opensans/open-sans-v34-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-700italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/opensans/open-sans-v34-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/opensans/open-sans-v34-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/opensans/open-sans-v34-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/opensans/open-sans-v34-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-800italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/opensans/open-sans-v34-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/opensans/open-sans-v34-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/opensans/open-sans-v34-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/opensans/open-sans-v34-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/opensans/open-sans-v34-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }


  /* MERRIWEATHER */

  /* merriweather-300 - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/merriweather/merriweather-v30-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather/merriweather-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather/merriweather-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather/merriweather-v30-latin-300.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  
  /* merriweather-300italic - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/merriweather/merriweather-v30-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather/merriweather-v30-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather/merriweather-v30-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather/merriweather-v30-latin-300italic.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  
  /* merriweather-regular - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather/merriweather-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather/merriweather-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather/merriweather-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather/merriweather-v30-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  
  /* merriweather-italic - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/merriweather/merriweather-v30-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather/merriweather-v30-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather/merriweather-v30-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather/merriweather-v30-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  
  /* merriweather-700italic - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/merriweather/merriweather-v30-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather/merriweather-v30-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather/merriweather-v30-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather/merriweather-v30-latin-700italic.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  
  /* merriweather-700 - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/merriweather/merriweather-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather/merriweather-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather/merriweather-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather/merriweather-v30-latin-700.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  
  /* merriweather-900 - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/merriweather/merriweather-v30-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather/merriweather-v30-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather/merriweather-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather/merriweather-v30-latin-900.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  
  /* merriweather-900italic - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/merriweather/merriweather-v30-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather/merriweather-v30-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather/merriweather-v30-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather/merriweather-v30-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather/merriweather-v30-latin-900italic.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  