{{ "<!-- LEARN -->" | safeHTML }}
<section id="Blog">
    <div class="container mt-4 home">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Site.Params.Blog.Title }}</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-md-8">
            <h2 class="recent mb-5">Recent posts:</h2>
            {{ range (where .Site.RegularPages "Type" "blog").ByDate.Reverse | first .Site.Params.Blog.NumberOfPosts }}    
                    {{ .Render "summary"}}
            {{ end }}
            </div>
            <div class="sidebar col-12 col-md-3 no-gutters">
                <a href="/blog/" class="btn btn-secondary btn-lg mb-5">{{ .Site.Params.Blog.ReadMore}}</a>
                <div class="list mt-3">
                    <h4>Filter:</h4>
                    <div class="filter">
                        {{ partial "blog/sidebar-cat-dropdown" . }} or {{ partial "blog/sidebar-years" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
