{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact" class="grayLight border-top">
    <div class="container">
        <div class="row row justify-content-center">
            <div class="col-lg-8 text-center">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>


        <div class="row justify-content-between">
          <div class="col-lg-3 mt-5">
            <h3><strong>{{ .Site.Params.Contact.Imprint.Headline | markdownify}}</strong></h3>
            {{ .Site.Params.Contact.Imprint.Text | markdownify}}
          </div>
          <div class="col-lg-4 mt-5 mr-3">
            <h3><strong>Follow us</strong></h3>

            {{ $content := site.GetPage "section" "community" }}
            {{ $links := sort (where ($content.Resources.ByType "page") ".Params.follow" true) ".Params.id" "asc" }}
            <div class="row justify-content-between ml-1">
              {{- range $links -}}
              <a href="{{ .Params.link }}" target="_blank" class="noUnderline">
                <img src="{{ .Params.icon | relLangURL }}" alt="{{.Params.alt}}">
              </a>
              {{- end -}}
            </div>
          </div>
          <div class="col-lg-4 mt-5">
            <h3><strong>Sign up for our Newsletter</strong></h3>
            {{ partial "newsletterForm"}}
          </div>
        </div>
    </div>
</section>
