{{ "<!-- Live Visual Programming -->" | safeHTML }}
<section id="Features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Site.Params.Features.headline }}</h2>
                <hr class="primary">
            </div>
        </div>
        <!-- Pills -->
        <div class="row stickyRow mb-5">
          <div class="col-12 d-flex justify-content-center">
            <ul class="nav nav-pills featuresMenu mt-3" id="pills-tab" role="tablist">
              <!-- Overview Menu -->
              {{ $features := site.GetPage "section" "features"}}
              {{ $sections := sort (site.GetPage "section" "features").Pages ".Params.id" "asc" }}
              {{ range $index, $value := $sections }}
              <li class="nav-item mx-md-1" role="presentation">
                <a class="nav-link {{ if (eq $index 0) }} active {{end}}" id="link-{{ replaceRE "(\\s)" "" .Params.title }}" data-toggle="pill" href="#{{ replaceRE "(\\s)" "" .Params.title }}" role="tab" aria-controls="v-pills-{{ .Params.id }}" aria-selected="false">{{ .Title }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="TopFeatures" role="tabpanel" aria-labelledby="pills-topfeatures-tab">
            {{ .Scratch.Set "sectionTitle" "Top Features"}}
            {{ partial "features-section" .}}
          </div>
          <div class="tab-pane fade" id="Language" role="tabpanel" aria-labelledby="pills-languages-tab">
            {{ .Scratch.Set "sectionTitle" "Language"}}
            {{ partial "features-section" .}}
          </div>
          <div class="tab-pane fade" id="Libraries" role="tabpanel" aria-labelledby="pills-libraries-tab">
            {{ .Scratch.Set "sectionTitle" "Libraries"}}
            {{ partial "features-section" .}}
          </div>
        </div>
    </div>
</section>
