<script src="{{"/js/jquery-3.6.0.min.js" | relURL}}"></script>
<script src="{{"/js/popper.min.js" | relURL}}"></script>
<script src="{{"/js/tippy-bundle.iife.min.js" | relURL}}"></script>
<script src="{{"/js/bootstrap.min.js" | relURL}}"></script>
<script src="{{"/js/jquery.easing.min.js" | relURL}}"></script>
<script src="{{"/js/swiper-bundle.min.js" | relURL}}"></script>



{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
{{- $creativejs := resources.Get "js/creative.js" -}}
{{- $downloadjs := resources.Get "js/download.js" -}}
{{- $headerjs := resources.Get "js/header.js" -}}
{{- $jsfiles := slice $creativejs $downloadjs $headerjs | resources.Concat "js/vvvv.js" | js.Build | minify -}}
<script type="text/javascript" src="{{ $jsfiles.RelPermalink | relURL }}" defer></script>

{{ "<!-- DSGVO Video Blocker -->" | safeHTML }}
<script src="{{"/js/dsgvo-video-embed.js" | relURL}}"></script>

{{ "<!-- Newsletter -->" | safeHTML }}
<script>
    window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
    window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
    window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";
    window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";  
    window.translation = {
      common: {
        selectedList: '{quantity} list selected',
        selectedLists: '{quantity} lists selected'
      }
    };
   var AUTOHIDE = Boolean(0);
</script>
<script src="https://sibforms.com/forms/end-form/build/main.js"></script>
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>

{{ "<!-- DocSearch -->" | safeHTML }}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript"> docsearch({ appId: 'DT87X97V9D', apiKey: '5fa647c5feb73cff7d665c148be6b445', indexName: 'visualprogramming', container: '.docsearch', placeholder: 'Search blog', debug: 'false'});</script>
<script type="text/javascript"> docsearch({ appId: 'DT87X97V9D', apiKey: '5fa647c5feb73cff7d665c148be6b445', indexName: 'visualprogramming', container: '.docsearchBottom', placeholder: 'Search blog', debug: 'false'});</script>
<link rel="preconnect" href="https://DT87X97V9D-dsn.algolia.net" crossorigin />