{{ "<!-- LEARN -->" | safeHTML }}
<section id="Learn">
    {{ with .Site.Params.Learn.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container-sm mt-4">

        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-4">
                <ul class="list-group list-group-flush mr-3">
                {{ range (.Site.GetPage "Learning").Params.firstColumn}}
                    <li class="list-group-item py-3">{{with .item.image }} <img src="{{ . }}" class="mr-3 icon"> {{ end }} {{ .item.text | safeHTML }}</li>
                {{ end }}
                </ul>
            </div>

            <div class="col-sm-12 col-lg-6 col-xl-4">
                <ul class="list-group list-group-flush mr-3">
                {{ range (.Site.GetPage "Learning").Params.secondColumn}}
                    <li class="list-group-item py-3">{{with .item.image }} <img src="{{ . }}" class="mr-3 icon"> {{ end }} {{ .item.text | safeHTML }}</li>
                {{ end }}
                </ul>
            </div>

            <div class="col-sm-12 col-lg-6 col-xl-4">
                {{ $img := (.Site.GetPage "Learning").Params.image }}
                <img src="{{ $img }}" alt="Integrated Help Browser"/>
            </div>
        
        </div>
    </div>
</section>
