<div class="row justify-content-center mb-3 mb-md-1" id="projects">
    <div class="col-11 col-xl-9">
        <div class="row">
            <div class="col d-flex">
                <div class="label py-1 px-2 text-center">Recent</div>
            </div>
        </div>
    </div>
</div>
<div class="list row mb-5 justify-content-around px-lg-5">

    {{ $content := site.GetPage "section" "showcase" }}
    
    {{ $projects := sort ($content.Resources.ByType "page") ".Params.id" "desc" }}
    {{ range $index, $elem:= $projects }}
        {{ partial "showcase-page-madeWithGammaCard" (dict "context" $elem "index" $index) }}
    {{ end }}
</div>