<div class="row justify-content-center mb-3 mb-md-1">
    <div class="col-11 col-xl-9">
        <div class="row">
            <div class="col d-flex">
                <div class="label py-1 px-2 text-center">Recent</div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-5">
    <div class="col-11 col-xl-9">
        {{ $content := site.GetPage "section" "showcase" }}
        {{ $projects := sort ($content.Resources.ByType "page") ".Params.id" "desc" }}
  
        
        {{ $pages := first 5 $projects }}

        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Slides -->
                {{ range $index, $elem:= $pages }}
                    {{ partial "showcase-madeWithGammaCard" (dict "context" $elem "index" $index) }}
                {{ end }}

                {{ partial "showcase-card-seeAll" }}
                
            </div>
        </div> 

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="row justify-content-center">
    <a class="btn btn-primary" href="{{ "/showcase/#projects" | relURL }}">See All Projects</a>
</div>
