
{{ $content := site.GetPage "section" "showcase" }}
{{ $TotalProjects := len ($content.Resources.ByType "page") }}

<div class="swiper-slide py-4 px-3">
    <div class="card text-white card-has-bg click-col h-100 justify-content-center">
        <div class="card-body mx-2 mb-sm-3 align-self-center flex-grow-0 d-flex">
            <div class="col">
                <div class="d-flex justify-content-center mb-3">There are {{ $TotalProjects }} recent projects to discover.</div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary align-self-center" href="{{ "/showcase/#projects" | relURL }}">See All</a>
                </div>
            </div>
        </div>
    </div>
</div>
