{{ "<!-- VideoBlocker -->" | safeHTML }}
<div id="videoBlocker" hidden>
  <div id="youtubeBlocker">
    <h1>{{ .Site.Params.youtubeBlocker.headline }}</h1>
    <div class="text">{{ .Site.Params.youtubeBlocker.text | markdownify}}</div>  
    <div class="buttons">
        <div class="playButton text-center" title="Play video">
        </div>
        <input type="checkbox" name="rememberchoice" value="true" checked="checked"><label for="rememberchoice">{{ .Site.Params.youtubeBlocker.checkbox }}</label>
    </div>
    <div class="video-link">
        <a href="https://youtu.be/%id%" rel="noopener" target="_blank" title="Open YouTube">{{ .Site.Params.youtubeBlocker.watchOn }}</a>
    </div>
  </div>

  <div id="vimeoBlocker">
    <h1>{{ .Site.Params.vimeoBlocker.headline }}</h1>
    <div class="text">{{ .Site.Params.vimeoBlocker.text | markdownify }}</div>  
    <div class="buttons">
      <div class="playButton text-center" title="Play video">
      </div>
      <input type="checkbox" name="rememberchoice" value="true" checked="checked"><label for="rememberchoice">{{ .Site.Params.vimeoBlocker.checkbox }}</label>
    </div>
    <div class="video-link">
        <a href="https://vimeo.com/%id%" rel="noopener" target="_blank" title="Open vimeo">{{ .Site.Params.vimeoBlocker.watchOn }}</a>
    </div>
  </div>
</div>