<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" prefix="og: http://ogp.me/ns#">
    <head>
        {{ partial "head" . }}
    </head>
    <body id="page-top">
      <div class="main">
          {{ partial "nav" . }}
          {{ if .Site.Params.hero }}
              {{ partial "hero" . }}
          {{ end }}

          {{ if .Site.Params.Features }}
            {{ partial "features" . }}
          {{ end }}

          {{ if .Site.Params.Blog }}
            {{ partial "blog" . }}
          {{ end }}

          {{ if .Site.Params.Showcase }}
            {{ partial "showcase" . }}
          {{ end }}

          {{ if .Site.Params.Learn }}
              {{ partial "learn" . }}
          {{ end }}

          {{ if .Site.Params.Community }}
              {{ partial "community" . }}
          {{ end }}

          {{ if (.Site.GetPage "Licensing")}}
              {{ partial "licensing" .}}
          {{ end }}

          {{ if (.Site.GetPage "Support")}}
              {{ partial "support" .}}
          {{ end }}

          {{ if .Site.Params.Download }}
              {{ partial "download.html" . }}
              {{ partial "PreviewDownloads" . }}
          {{ end }}

          {{ if .Site.Params.contact }}
              {{ partial "contact" . }}
          {{ end }}

          {{ if .Site.Params.footer}}
            {{ partial "footer" . }}
          {{ end }}
        </div>
        {{ partial "videoBlocker" . }}
        {{ partial "js" . }}
    </body>
</html>