<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
      <div class="main">
          {{ partial "nav" . }}
          {{ if .Site.Params.hero }}
              {{ partial "hero.html" . }}
          {{ end }}

          {{ if .Site.Params.Features }}
            {{ partial "Features.html" . }}
          {{ end }}

          {{ if .Site.Params.Blog }}
            {{ partial "blog" . }}
          {{ end }}

          {{ if .Site.Params.Showcase }}
            {{ partial "showcase.html" . }}
          {{ end }}

          {{ if .Site.Params.Learn }}
              {{ partial "learn.html" . }}
          {{ end }}

          {{ if .Site.Params.Community }}
              {{ partial "community.html" . }}
          {{ end }}

          {{ if (.Site.GetPage "Licensing")}}
              {{ partial "licensing.html" .}}
          {{ end }}

          {{ if (.Site.GetPage "Support")}}
              {{ partial "support.html" .}}
          {{ end }}

          {{ if .Site.Params.Download }}
              {{ partial "download.html" . }}
              {{ partial "PreviewDownloads.html" . }}
          {{ end }}

          {{ if .Site.Params.contact }}
              {{ partial "contact.html" . }}
          {{ end }}

          {{ if .Site.Params.footer}}
            {{ partial "footer.html" . }}
          {{ end }}
        </div>
        {{ partial "js.html" . }}
    </body>
</html>