<hr class="d-block d-md-none mb-5 thin">
<div class="d-none d-lg-block col-lg-3 pl-3 pt-3 pt-sm-0 mt-md-0">
  {{ partial "blog/docsearch" . }}
</div>
{{ if ne .Page.Title "Posts"}}
    <a href="/blog/" class="btn btn-secondary btn-lg mb-5">{{ .Site.Params.Blog.ReadMore}}</a>
{{ end }}
<div class="list">
    <h4>Recent posts:</h4>
    <ul class="list-group list-group-flush mb-2">
        {{ range ( first 4 ( where .Site.RegularPages "Type" "blog").ByDate.Reverse ) }}
        <li class="list-group-item"><a href="{{ .Permalink | relURL}}">{{ .Title }}</a></li>
        {{end}}
    </ul>
</div>
<div class="list mt-5">
  <h4>Filter :</h4>
  <div class="filter">
    {{ partial "blog/sidebar-cat-dropdown" . }} or {{ partial "blog/sidebar-years" . }}
  </div>
</div>